{% extends 'template/articleTemplate.html' %}

{% block title %}<$ ctx.seo.article.articleTitle $>{% endblock %}
{% block keyword %}<$ ctx.seo.article.articleTagList $>{% endblock %}

{% block content %}
<!-- 移动端header >>>>>>>>>>>>> -->
<div class="VPLocalNav">
  <button id="jianghu-mobile-toggle-docMenu" class="jianghu-nav-mobile-menu" aria-expanded="false" aria-controls="VPSidebarNav">
    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" viewBox="0 0 24 24" class="jianghu-nav-mobile-menu-icon">
      <path d="M17,11H3c-0.6,0-1-0.4-1-1s0.4-1,1-1h14c0.6,0,1,0.4,1,1S17.6,11,17,11z"></path>
      <path d="M21,7H3C2.4,7,2,6.6,2,6s0.4-1,1-1h18c0.6,0,1,0.4,1,1S21.6,7,21,7z"></path>
      <path d="M21,15H3c-0.6,0-1-0.4-1-1s0.4-1,1-1h18c0.6,0,1,0.4,1,1S21.6,15,21,15z"></path>
      <path d="M17,19H3c-0.6,0-1-0.4-1-1s0.4-1,1-1h14c0.6,0,1,0.4,1,1S17.6,19,17,19z"></path>
    </svg>
    <span class="jianghu-nav-mobile-menu-text">Menu</span></button>
  <button id="jianghu-mobile-toggle-docAside" class="jianghu-nav-mobile-menu" aria-expanded="false" aria-controls="VPSidebarNav">
      <span class="jianghu-nav-mobile-menu-text">On this page</span></button>
</div>
<!-- <<<<<<<<<<<<< 移动端header -->

<!-- 页面内容 >>>>>>>>>>>>> -->
<main>
  <!-- 文章列表 -->
  <div class="jianghu-doc-sidebar">
    <div class="jianghu-doc-sidebar-nav">
      {% for node in ctx.seo.article.articleList %}
        {% if node.isGroup %}
          <div class="jianghu-doc-sidebar-group">
            <div class="jianghu-doc-sidebar-group-title">
              <h2 class="jianghu-doc-sidebar-group-title-text" title="<$ node.articleTitle $>"><$ node.articleTitle.replace(node.categoryArticleIgnoreTiltle, '') $></h2>
            </div>
            {% if node.childrenList %}
              {% for children in node.childrenList %}
                {% if article and children.articleId == ctx.seo.article.articleId %}
                  <a class="jianghu-doc-sidebar-group-link jianghu-doc-sidebar-group-link-active" href="<$ pageUrl $>/article/<$ children.articleId $>" title="<$ children.articleTitle $>">
                    <p class="jianghu-doc-sidebar-group-link-text"><$ children.articleTitle.replace(node.categoryArticleIgnoreTiltle, '') $></p>
                  </a>
                {% else %}
                  <a class="jianghu-doc-sidebar-group-link" href="<$ pageUrl $>/article/<$ children.articleId $>" title="<$ children.articleTitle $>">
                    <p class="jianghu-doc-sidebar-group-link-text"><$ children.articleTitle.replace(node.categoryArticleIgnoreTiltle, '') $></p>
                  </a>
                {% endif %}
              {% endfor %}
            {% endif %}
          </div>
        {% else %}
          {% if node.categoryId %}
            <div class="jianghu-doc-sidebar-group no-group">
              {% if article and node.articleId == ctx.seo.article.articleId %}
                <a class="jianghu-doc-sidebar-group-link jianghu-doc-sidebar-group-link-active" href="<$ pageUrl $>/article/<$ node.articleId $>" title="<$ node.articleTitle $>">
                  <p class="jianghu-doc-sidebar-group-link-text"><$ node.articleTitle.replace(node.categoryArticleIgnoreTiltle, '') $></p>
                </a>
              {% else %}
                <a class="jianghu-doc-sidebar-group-link" href="<$ pageUrl $>/article/<$ node.articleId $>" title="<$ node.articleTitle $>">
                  <p class="jianghu-doc-sidebar-group-link-text"><$ node.articleTitle.replace(node.categoryArticleIgnoreTiltle, '') $></p>
                </a>
              {% endif %}
            </div>
          {% else %}
            <div class="jianghu-doc-sidebar-group no-group">
              {% if article and node.articleId == ctx.seo.article.articleId %}
                <a class="jianghu-doc-sidebar-group-link jianghu-doc-sidebar-group-link-active" href="<$ pageUrl $>/article/<$ node.articleId $>" title="<$ node.articleTitle $>">
                  <p class="jianghu-doc-sidebar-group-link-text"><$ node.articleTitle.replace(node.categoryArticleIgnoreTiltle, '') $></p>
                </a>
              {% endif %}
            </div>
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <!-- 文章内容 -->
  <div class="jianghu-doc-content jianghu-doc-content-has-sidebar">
    <div class="jianghu-doc-contentDoc">
      <div class="jianghu-doc-contentDoc-container">
        <!-- 大纲 -->
        <div class="jianghu-doc-contentDoc-aside">
          <div class="jianghu-doc-contentDoc-aside-container">
            <div class="jianghu-doc-contentDoc-aside-outline">
              <div class="jianghu-doc-contentDoc-aside-outline-title">On this page</div>
              <div id="scrollspy" class="sticky-top">
                <ul class="nav flex-column nav-pills menu-sidebar jianghu-doc-contentDoc-aside-menu" id="jianghu-doc-contentDoc-aside-menu"></ul>
              </div>
            </div>
          </div>
        </div>
        <!-- 正文 -->
        <div class="jianghu-doc-contentDoc-content">
          <div class="jianghu-doc-contentDoc-main">
            <!-- 操作 -->
            <div class="jianghu-doc-contentDoc-main-edit-links">
              <span>
                <a href="<$ url $>articleEdit?articleId=<$ ctx.seo.article.articleId $>&title=<$ ctx.seo.article.articleTitle $>"
                  class="jianghu-doc-contentDoc-main-edit-link">
                  <i class="far fa-edit jianghu-doc-contentDoc-main-edit-icon"></i><$ ctx.seo.constantUiMap.common.modify $></a>
                <a href="<$ url $>articleEdit?&title=未命名" target="_blank" class="jianghu-doc-contentDoc-main-edit-link">
                  <i class="far fa-plus-square jianghu-doc-contentDoc-main-edit-icon"></i><$ ctx.seo.constantUiMap.common.add $></a>
                <a href="<$ url $>articleList" class="jianghu-doc-contentDoc-main-edit-link">
                  <i class="fas fa-th-list jianghu-doc-contentDoc-main-edit-icon"></i><$ ctx.seo.constantUiMap.common.manage $></a>
              </span>
              <span class="jianghu-doc-contentDoc-main-update-time" style="text-align: right;"><i class="far fa-user"></i> <$ ctx.seo.article.articleUpdateUsername $>  <i class="far fa-clock" style="margin-left: 5px;"></i>  <$ ctx.seo.article.articleUpdateTime $></span>
            </div>
            <!-- 内容 -->
            <div class="jianghu-doc-contentDoc-main-doc">
              <div class="markdown-body editormd-preview-container jianghu-markdown" id="doc-content">
                <h1 id="links-0"><$ ctx.seo.article.articleTitle $></h1>
                <!-- 封面 -->
                {% if ctx.seo.article.articleCoverImage %}
                <div class="items-center-box" style="margin-bottom: 20px">
                   <img style="width: 100%;" src="/upload/<$ ctx.seo.article.articleCoverImage $>" alt=""/>
                </div>
                {% endif %}
                <!-- 音频 -->
                {% if ctx.seo.article.articleAudioUrl %}
                <audio src="/<$ ctx.app.config.appId $>/upload<$ ctx.seo.article.articleAudioUrl $>" style="width: 100%;" controls preload="none"></audio>
                {% endif %}
                <!-- 视频 -->
                {% if ctx.seo.article.articleVideoUrl %}
                <video src="/<$ ctx.app.config.appId $>/upload<$ ctx.seo.article.articleVideoUrl $>" style="width: 100%; height: auto" controls preload="none"></video>
                {% endif %}
                <!-- markdown -->
                <$ ctx.seo.article.articleContentForSeo | safe $>
                <div id="articleContentHidden" class="articleContentHidden"
                    style="position: absolute; top: -1000px; overflow: hidden; height: 0; width: 0;">
                  <textarea style="display: none;"><$ ctx.seo.article.articleContent $></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- <<<<<<<<<<<<< 页面内容 -->
{% endblock %}

{% block javascript %}
  <script>
    function init() {
      $("h3.toggle-head").click(function () {
        if($(this).parent().hasClass('toggle-close')) {
          $(this).parent().removeClass('toggle-close')
        } else {
          $(this).parent().addClass('toggle-close')
        }
        $(this).parent().find("div.toggle-content").slideToggle();
      });

      // 生成文档大纲
      generateSidebar();

      // 点击大纲关闭遮罩
      $(".jianghu-doc-contentDoc-aside-outline-link").on( "click", function(){
          closeBackdrop();
      });
      
      // 目录滚动到指定位置
      if($('.jianghu-doc-sidebar-group-link-active').length > 0){
        const linkOffsetTop = $('.jianghu-doc-sidebar-group-link-active').position().top;
        $('.jianghu-doc-sidebar').scrollTop(linkOffsetTop - 300);
      }
    }

    $(function () {
      init();
    })
  </script>
{% endblock %}
