<style>
/* home */
.jianghu-home {
    background-color: var(--vt-c-bg);
}
@media (min-width: 960px){
    .jianghu-home {
        padding-top: var(--vt-nav-height);
    }
}
.jianghu-home-hero{
    padding: 96px 32px;
    text-align: center;
}
.jianghu-home-hero-tagline{
    font-size: 76px;
    line-height: 1.25;
    font-weight: 900;
    letter-spacing: -1.5px;
    max-width: 960px;
    margin: 0 auto;
}
.jianghu-home-hero-accent{
    background: -webkit-linear-gradient(315deg,#42d392 25%,#647eff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.jianghu-home-hero-description{
    max-width: 960px;
    line-height: 1.5;
    color: var(--vt-c-text-2);
    transition: color .5s;
    font-size: 22px;
    margin: 24px auto 40px;
}
.jianghu-home-hero-button-start{
    font-size: 16px;
    display: inline-block;
    border-radius: 8px;
    transition: background-color .5s,color .5s;
    position: relative;
    font-weight: 600;
    background-color: var(--vt-c-green);
    color: var(--vt-c-white);
    margin-right: 18px !important;
    padding: 8px 1em 8px 1em;
    -webkit-transition: background-color .5s,color .5s;
    -moz-transition: background-color .5s,color .5s;
    -ms-transition: background-color .5s,color .5s;
    -o-transition: background-color .5s,color .5s;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.jianghu-home-hero-button-start:hover{
    background-color: var(--vt-c-green-dark);
    transition-duration: .2s;
    color: var(--vt-c-white);
}
.jianghu-home-hero-icon-right{
    margin-left: 5px;
    transition: transform .2s;
    -webkit-transition: transform .2s;
    -moz-transition: transform .2s;
    -ms-transition: transform .2s;
    -o-transition: transform .2s;
}
.jianghu-home-hero-button-start:hover .jianghu-home-hero-icon-right{
    transform: translate(2px);
    -webkit-transform: translate(2px);
    -moz-transform: translate(2px);
    -ms-transform: translate(2px);
    -o-transform: translate(2px);
}
.jianghu-home-hero-button-github{
    font-size: 16px;
    display: inline-block;
    background-color: var(--vt-c-bg-2);
    padding: 8px 18px;
    font-weight: 500;
    border-radius: 8px;
    transition: background-color .5s,color .5s;
    color: var(--vt-c-text-code);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.jianghu-home-hero-button-github:hover{
    background-color: var(--vt-c-gray-light-4);
    transition-duration: .2s;
    color: var(--vt-c-text-code);
}
.jianghu-home-hero-icon-github{
    margin-right: 5px;
}
.jianghu-home-divider{
    height: 1px !important;
    background-color: var(--vt-c-divider-light);
    opacity: 0.5;
}
.jianghu-home-highlights{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    padding: 42px 32px;
    max-width: 1360px;
    margin: 0 auto;
    color: var(--vt-c-text-2);
}
.jianghu-home-highlights-box{
    transition: color .5s,background-color .5s;
    padding: 28px 46px;
    border-radius: 8px;
    flex: 0 25%;
    font-size: 14px;
    font-weight: 500;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.jianghu-home-highlights-title{
    font-weight: 600;
    font-size: 20px;
    letter-spacing: -.4px;
    color: var(--vt-c-text-1);
    transition: color .5s;
    margin-bottom: 0.75em;
    -webkit-transition: color .5s;
    -moz-transition: color .5s;
    -ms-transition: color .5s;
    -o-transition: color .5s;
}
.jianghu-home-highlights-description{
    font-weight: 400;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 适配 */
@media (max-width: 960px){
    .jianghu-home-hero-tagline {
        font-size: 64px;
        letter-spacing: -.5px;
    }
    .jianghu-home-hero-description {
        font-size: 18px;
        margin-bottom: 48px;
    }
}
@media (max-width: 768px){
    .jianghu-home {
        overflow-x: hidden;
    }
    .jianghu-home-hero-tagline {
        font-size: 48px;
        letter-spacing: -.5px;
    }
    .jianghu-home-highlights-box {
        flex: 0 100%;
        margin-bottom: 20px;
    }
}
@media (max-width: 576px){
    .jianghu-home-hero {
        padding: 64px 32px;
    }
    .jianghu-home-hero-description {
        font-size: 16px;
        margin: 18px 0 30px;
    }
    .jianghu-home-hero-button {
        margin: 0.5em 0;
    }
    .jianghu-home-highlights-box {
        padding: 20px 36px;
    }
}
</style>
